<div class="row g-6 mb-6">
    <div class="col-12 col-sm-6 col-xxl-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Receitas</span>
                        <span class="h3 font-bold mb-0"><%= dashboard_total_incomes %></span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-success text-white text-lg rounded-circle">
                            <i class="bi bi-graph-up-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Despesas</span>
                        <span class="h3 font-bold mb-0"><%= dashboard_total_expenses %></span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white text-lg rounded-circle">
                            <i class="bi bi-graph-down-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Disponível</span>
                        <span class="h3 font-bold mb-0"><%= dashboard_total_available %></span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                            <i class="bi bi-wallet"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Limite de Crédito</span>
                        <span class="h3 font-bold mb-0"><%= dashboard_credit_limit_total_available %></span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
                            <i class="bi bi-credit-card"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>