<hr class="my-10" />
<div class="row g-6">
    <div class="col-md-12">
        <div class="card shadow border-0">
            <div class="card-body d-sm-flex align-items-center">
                <div>
                    <h5 class="text-danger mb-2">Excluir conta</h5>
                    <p class="text-sm text-muted">
                        Depois de excluir sua conta, não há como voltar atrás.
                    </p>
                </div>
                <div class="ms-auto mt-3 mt-sm-0">
                    <%= link_to "settings/#{@user.id}", class: 'btn btn-sm btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Você tem certeza?' } do %>
                        Excluir
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>