<div class="card shadow border-0 mt-4 mb-10">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center">
                <div class="avatar rounded-circle bg-surface-secondary text-dark"><i class="bi bi-person"></i></div>
                <div class="ms-4">
                    <span class="h4 d-block mb-0"><%= user.fullname %>
                </div>
            </div>
        </div>
    </div>
</div>